[Unit]
Description=Desk-Control-Speech
Requires=Desk-Control

[Service]
Type=simple
#ExecStart=/usr/bin/desk-control
ExecStart=/usr/bin/desk-control-speech.sh
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
