[Unit]
Description=Desk-Control-Speech
Requires=Desk-Control

[Service]
Type=simple
#ExecStart=/usr/bin/desk-control
ExecStart=stdbuf -o0 pocketsphinx_continuous -jsgf /usr/share/desk-control/desk.jsgf -dict /usr/share/desk-control/desk.dic -inmic yes -kws_threshold 1e-03 -adcdev /dev/audio1  -logfn /dev/null | stdbuf -o0 egrep -v "^READY|^Listening" > /var/run/desk-control
StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
